<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- UnityContainerRegister -->
    <!--<add key="UnityContainerRegister" value="TEXTAOP.UnityContainerRegister,TEXTAOP"></add>-->
    <add key="connStr" value="server=.;database=ebusiness;uid=sa;pwd=12345678;"/>
  </appSettings>
</configuration>